<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="dbConnectionString" value="mongodb://localhost:27017"/>
    <add key="dbName" value="crankdb"/>
    <add key="oauth_consumer_key" value="7duq95vyv5qk"/>
    <add key="oauth_consumer_secret" value="z3btb43nswy2bvkq"/>
    <add key="SaveImageToFileSystem" value="false"/>
    <add key="ImageSaveFolderPath" value="C:\Temp\SevenDigital\SevenDigitalImage"/>
    <add key="hostUrl" value="http://api.7digital.com/1.2/artist"/>
  </appSettings>
</configuration>
