<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="dbConnectionString" value="mongodb://localhost:27017"/>
    <add key="dbName" value="crankdb"/>

    <add key="SaveImageToFileSystem" value="true"/>
    <add key="ImageSaveFolderPath" value="C:\Temp\TuneIn\SImage"/>
    <add key="TuneInStartURL" value="http://tunein.com/radio/United-States-r100436/"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.73 Safari/537.36"/>

  </appSettings>
</configuration>