<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="dbConnectionString" value="mongodb://localhost:27017"/>
    <add key="dbName" value="crankdb"/>
    <add key="SongKickAPIKey" value="afo8dQ9gvUzPSunl"/>
    <add key="SongKickArtistSearchURL" value="http://api.songkick.com/api/3.0/search/artists.json?query={0}&amp;apikey={1}"/>
    <add key="SongKickArtistCalendarURL" value="http://api.songkick.com/api/3.0/artists/{0}/calendar.json?apikey={1}"/>
    <add key="SongKickVenueDetailsURL" value="http://api.songkick.com/api/3.0/venues/{0}.json?apikey={1}"/>
    <add key="SongKickImageURL" value="http://images.sk-static.com/images/media/profile_images/artists/{0}/{1}"/>
    
  </appSettings>
</configuration>