<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="dbConnectionString" value="mongodb://localhost:27017"/>
    <add key="dbName" value="crankdb"/>

    <add key="SaveImageToFileSystem" value="true"/>
    <add key="ImageSaveFolderPath" value="C:\Temp\SongKickData\SKImage"/>
    <add key="SongKickImageURL" value="http://images.sk-static.com/images/media/profile_images/artists/{0}/{1}"/>

  </appSettings>
</configuration>