<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="dbConnectionString" value="mongodb://localhost:27017"/>
    <add key="dbName" value="crankdb"/>
    <add key="FCCFMStationSearchURL" value="https://transition.fcc.gov/fcc-bin/fmq?call=&amp;arn=&amp;state=&amp;city=&amp;freq=0.0&amp;fre2=107.9&amp;serv=FM&amp;vac=3&amp;facid=&amp;asrn=&amp;class=&amp;list=4&amp;ThisTab=Results+to+This+Page%2FTab&amp;dist=&amp;dlat2=&amp;mlat2=&amp;slat2=&amp;NS=N&amp;dlon2=&amp;mlon2=&amp;slon2=&amp;EW=W&amp;size=9"/>
    <add key="FCCFMStationCoverageMapURL" value="https://transition.fcc.gov/fcc-bin/contourplot.kml?appid={0}&amp;call={1}&amp;freq={2}&amp;contour=60&amp;city={3}&amp;state={4}&amp;fileno={5}&amp;.txt"/>
    <add key="SaveFolderPath" value="C:\Temp\FCCData\FCCFMStation"/>
    <add key="SaveToFileSystem" value="true"/>
  </appSettings>
</configuration>

